.footer-container{
    width: 100vw;
    background-color: #13829f;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    bottom: 0;
}

.top-footer{
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width:600px){
    .top-footer{
        display: flex;
        flex-direction: column;
    }
}
.headingsinfo{
    font-size: 20px;
}

.footer-infoGroup{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    margin-top: 100px;
}
@media screen and (max-width:600px){
    .footer-infoGroup{
        width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .bottom-footer{
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-services{
        font-size: 18px;
        text-align: left;
    }
    .footer-services h2{
        text-align: center;
    }
    .footer-quickMenu h2{
        margin-left: -30px;
    }
    .footer-logo-about{
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-infoGroup a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 16px;
    line-height: 2.5;
}

.footer-infoGroup h2{
    text-align: left;
}

.footer-infoGroup li{
    margin-left: -35px;
}

.footer-quickMenu{
    margin-left: 60px;
}

.footerButton{
    width: 150px;
    border-radius: 5px;
    margin: 10px;
    height: 40px;
    border: none;
    color: red;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
}

.footerButton:hover{
    background-color: rgb(231, 229, 229);
}

.footer-logo-about{
    display: block;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border-radius: 41px;
    background: white;
    margin-top: -50px;
    margin-bottom: 20px;
    box-shadow: 3px 4px 26px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 26px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 26px 3px rgba(0,0,0,0.75);}

   
.logo-settings{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.footer-logo-about img{
    width: 90px;
    height: 90px;
}

.footer-logo-about p{
    display: flex;
    text-align: justify;
    margin-bottom: 10px;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials img{
    width:30px;
    height:30px;
    margin: 5px;
}


.bottom-footer{
    background-color: #003161;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Libre Baskerville";
}

.footer-contactDetails{
    width: 250px;

}

.footer-quickMenu{
    width: 250px;
}

.footer-services{
    width: 250px;
}

.footer-meterwebsite{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.ul-links-meterlimited{
    display: flex;
    flex-direction: column;
    background-color: #13829f;
}
.ul-links-meterlimited a{
    margin-top: -10px;
    font-size: 18px;
}
.ul-links-meterlimited a:hover{
    color: red;
    cursor: pointer;
}
.footerServices h2{
    text-align: center;
}
@media screen and (max-width:600px){
    .ul-links-meterlimited a{
        margin-bottom: -10px;
        font-size: 14px;
    }
}

@media screen and (max-width:600px){
    .footer-meterwebsite{
        text-align: left;
        display: flex;
        justify-content: left;
    }
}